# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
.egg-info/

# Celery
*.pid

# IDEs
.vscode/
.idea/
*.swp
*.swo